---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <footer>
    <img src="{{ page.gif }}" alt="{{ page.gif_alt }}" title="{{ page.gif_title }}">
    <p><small>Current Status: <em>{{ page.gif_title }}</em></small></p>
  </footer>

</div>
